<div class="wrapper" 
	(swiperight)="swipe()"
	*ngIf="currentState && timeRuler.length && availableBlock; else loader">
	<div 
	[ngClass]="{
		'header': true,
		'Avaliable-color': currentState.status == CurrentRoomState.AVAILABLE,
		'Warning-color': currentState.status == CurrentRoomState.MEETING_SOON,
		'Unavailable-color': currentState.status == CurrentRoomState.IN_PROGRESS
	}">
	
	<h1 class="title">Hall Room</h1>
	</div>
	<div class="content">
		<div class="right-block">
			<div *ngFor="let button of BookButtons; index as i" style="display: inline;">
				<button
					(click)="bookEvent(i)"
					[disabled]="!(availableBlock['minutes'] >= button['minutes']) || bookingInProcess"
					class="btn-bg book-btn">
					{{ button['text'] }}
				</button>
			</div>

			<div class="lineup-loader">
				<div class="button" *ngIf="bookingEvent">
					<button (click)="createEvent()" class="btn-bg btn-book" [disabled]="!bookingEvent || bookingInProcess">
						<span *ngIf="!bookingInProcess">{{ buttonText }}</span>
						<span *ngIf="bookingInProcess" class="spinner"></span>
					</button>
				</div>
				<span *ngIf="!bookingEvent" class="info-title" style="position: relative; top: calc(50% - 40px);">Choose a time to book a room</span>
			</div>
		</div>
		<div class="left-block">
			<app-timescale [timescale]="timeRuler" [events]="blockEvents" [bookingEvent]="bookingEvent" [scrollOffset]="scrollOffset"></app-timescale>
		</div>
	</div>
</div>

<ng-template #loader style="text-align: center">
	<div class="loader">
		<app-loader></app-loader>
	</div>
</ng-template>
