$greeny-blue: #43b799;
$maize: #f3bf49;
$unavailable: #c0392b;

h1 {
	margin: 0;
}

.wrapper {
	position: relative;
	text-align: center;
	margin: 0 auto;
	background-color: #ffffff;
	z-index: 0;
}

.content {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left-block {
	background: #ffffff;
}

.right-block {
	@media (min-width: 1025px) {
		order: 2;
	    width: 502px;
	}
}
.Avaliable-color {
    background-color: $greeny-blue;
    .book-now {
        color: $greeny-blue;
    }
}

.Warning-color {
    background-color: $maize;
    .book-now {
        color: $maize;
    }
}

.Unavailable-color {
    background-color: $unavailable;
    .book-now {
        color: $unavailable;
    }
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 168px;
	margin: auto;
	background-image: url('../../../assets/img/mesh.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75% auto;
	@media (min-width: 1025px) {
		background-size: auto;
	}
}

.title {
	height: 45px;
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	font-family: 'Ubuntu';
	line-height: normal;
	letter-spacing: -1px;
	color: #ffffff;
}

.btn-bg {
	width: 126px;
	height: 78px;
	//margin: 18px 6px;
	margin: 18px 6px 0px 6px; 
	border: none;
	border-radius: 4px;
	background-color: #e0e3e5;
	font-size: 21px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	color: #526072;


	@media (min-width: 1024px) {
		width: 157px;
		height: 98px;
	}
}
.btn-bg[disabled] {
	color: #aaa;
}

.book-btn:focus{
	color: #ffffff;
	background-color: #526072;
}


.btn-book {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
	width: 210px;
	color: #ffffff;
	background-color: $greeny-blue;
}
.btn-book[disabled] {
	background-color: #9fd2ce !important;
	color: #ffffff;
}


.timeBlock {
	display: flex;
	justify-content: center;
}

.time {
  display: inline-flex;
  align-self: baseline;
  width: 46px;
  height: 24px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7b7b7b;
}

.eventBlock, {
  display: inline-flex;
  position: relative;
  width: 543px;
  height: 46px; 
  border: none;
}

.innerBlock {
	width: 543px;
}

.openEventBlock {
  background-color: #526072;
}

.closedEventBlock {
  background-color: #e0e3e5;
}

.innerBlock > * {
	border: none;
}

.innerBlock > *:first-child {
	border-radius: 5px 5px 0 0;
}

.innerBlock > *:last-child {
	border-radius: 0 0 5px 5px;
}

.eventBlock > *:only-child {
	border-radius: 5px;
}

.timeBlock {
	margin-bottom: 5px;
}

.absolute {
	position: absolute;
}

.lineup-loader {
	justify-content: center;
	background: white;
	height: 130px;
	margin-top: 0;
}

.spinner {
	height: 36px;
	width: 36px;
	display: inline-flex;
	margin: 0px auto;
	animation: rotate 0.8s infinite linear;
	border: 4px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.slideDown{
	padding-top: 130px;
	transition: padding 0.5s;
}

.info-title {
	font-size: 30px; 
	font-weight: 550; 
	color: #515151;
	display: inline;
  }
  