.events-wrapper {
  max-width: 690px;
//	min-height: 325px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
	display: flex;
	flex-direction: row;
  position: relative;
  scroll-behavior: smooth; 

  background: #ffffff;

  @media (min-width: 768px) {
    max-height: calc(100vh - 445px);
  }
  @media (min-width: 1024px) {
      max-height: calc(100vh - 445px);
      min-width: calc(100% - 70px);
  }
}

.slideDown {
  max-height: calc(100vh - 470px);
  transition: max-height 0.5s ease-in;
}

.timescale {
  margin-right: 15px;
}

.time {
  display: flex;
  justify-content: flex-end;
  width: 110px;
  height: 46px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7b7b7b;
}

.rounded-time {
  justify-content: flex-start;
  font-size: 21px;
  font-weight: 600;
  color: #52647a;
}

.block-of-time-blocks {
  position: relative;
  margin-top: 9px;

  @media (min-width: 1024px) {
    height: 800px;
    width: 890px;
  }
  
}

.eventBlock, {
  width: calc(100vw - 139px);
  position: absolute;
  height: 46px; 
  border: solid 5px #ffffff;
  border-radius: 4px;
  @media (min-width: 768px) {
    width: 543px;
    max-height: calc(100vh - 340px);
  }
  @media (min-width: 1024px) {
    max-height: calc(100vh - 514px);
    width: 100%;
  }
}

.openEventBlock {
  background-color: #526072;
  color: #e0e3e5;
  text-align: left;
}

.closedEventBlock {
  background-color: #e0e3e5;
  color: #526072;
  text-align: left;
}

.block-text {
  width: calc(100vw - 139px);
  height: 28px;
  font-size: 19px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 4px;
  padding-left: 14px;
}

.event-text {
  font-weight: 500;
}

.event-time {
  font-weight: 600;
}

.line {
  height: 1px;
  margin-top: 8px;
  left: 70px;
  width: calc(100% - 84px);
  position: absolute;
  border-radius: 0.5px;
  background-color: #eaebec;
  z-index: 0;
  @media (min-width: 768px) {
    left: 70px;
    width: 597px;
  }
  @media (min-width: 1024px) {
    left: 70px;
    width: 100%;
  }
}

.current-line {
  background-color: #c0392b;
  left: 135px;
  @media (min-width: 768px) {
    left: 130px;
    width: 533px;
  }
  @media (min-width: 1024px) {
    left: 128px;
    width: 100%;
  }
}