<div *ngIf="timescale" 
	class="events-wrapper" 
	[scrollTop]="scrollOffset">
	<div class="timescale" (swiperight)="swipe()">
		<div class="time {{time.key}}" *ngFor="let time of timescale" [ngClass]="{'rounded-time': time['minutes'] == '00'}">
			<span>{{ time['hours'] + ':' + time['minutes'] }}</span> 
			<span *ngIf="time['minutes'] == '00'" class="line"></span>
		</div>
	</div>
	<div class="block-of-time-blocks">
		<div [ngStyle]="{'top.px': event['offset'], 'height.px': event['height']}" class="eventBlock closedEventBlock" *ngFor="let event of events">
			<div class="block-text">
				<span class="event-text">{{ (event['name'] || 'Ad hoc meeting') + ', '}}</span> 
				<span class="event-time">{{ (event['start'] | date: 'HH:mm') + '&nbsp;-&nbsp;' + (event['end'] | date: 'HH:mm') }}</span>
			</div>
		</div>
		<div *ngIf="bookingEvent" id="bookedBlock" [ngStyle]="{'top.px': bookingEvent['offset'], 'height.px': bookingEvent['height']}" class="eventBlock openEventBlock">
			<div class="block-text">
				<span class="event-text">{{'New meeting, '}}</span> 
				<span class="event-time">{{ (bookingEvent['start'] | date: 'HH:mm') + '&nbsp;-&nbsp;' + (bookingEvent['end'] | date: 'HH:mm') }}</span>
			</div>
		</div>
	</div>
	<div class="line current-line" [ngStyle]="{'top.px': currentTime}"></div>
</div>