// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

// $greeny-blue: #43b799;
// $maize: #f3bf49;
// $unavailable: #c0392b;

// a {
// 	z-index: 1;
// }

// .wrapper {
// 	z-index: 0;
// 	text-align: center;
// 	height: 100vh;
// 	padding-top: 208px;
// 	margin: 0 auto;
// 	background-color: #43b799;
// 	position: relative;
// }

// .Avaliable-color {
//     background-color: $greeny-blue;
//     .book-now {
//         color: $greeny-blue;
//     }
// }

// .Warning-color {
//     background-color: $maize;
//     .book-now {
//         color: $maize;
//     }
// }

// .Unavailable-color {
//     background-color: $unavailable;
//     .book-now {
//         color: $unavailable;
//     }
// }

// .timer {
// 	height: 64px;
// 	font-size: 5.625rem;
// 	font-weight: bold;
// 	font-style: normal;
// 	font-stretch: normal;
// 	line-height: 0.71;
// 	letter-spacing: normal;
// 	color: #ffffff !important;
// }

// .Avaliable {
// 	height: 49px;
// 	font-size: 36px;
// 	font-weight: bold;
// 	font-style: normal;
// 	font-stretch: normal;
// 	line-height: normal;
// 	letter-spacing: -1px;
// 	color: #ffffff;
// }

// .room-name {
// 	height: 90px;
// 	font-family: Ubuntu;
// 	font-size: 80px;
// 	font-weight: bold;
// 	font-style: normal;
// 	font-stretch: normal;
// 	line-height: normal;
// 	letter-spacing: -3px;
// 	color: #ffffff;
// }

// .book-now {
// 	z-index: 1;
// 	cursor: pointer;
// 	width: 210px;
// 	height: 78px;
// 	border: none;
// 	border-radius: 5px;
// 	background-color: #ffffff;
// 	font-size: 24px;
// 	font-weight: bold;
// 	font-style: normal;
// 	font-stretch: normal;
// 	line-height: normal;
// 	letter-spacing: -1.1px;
// 	text-align: center;
// 	color: $greeny-blue;
// }

// .Mesh {
// 	z-index: -1;
// 	position: absolute;
// 	top: 352px;
// 	left:0;
// 	width: 768px;
// 	height: 460px;
// 	object-fit: contain;
// 	opacity: 0.71;
// 	mix-blend-mode: overlay;
// }