.wrapper {
    height: 100vh;
    margin: 0 auto;
    color: #737373;
    font-size: 25px;
    background: #7790ba;
    overflow: hidden;
}

.block {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding: 0px 20px 20px 20px;
    z-index: 5;

    width: 500px;
    height: 300px;

    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);

    background: #ffffff;
    border-radius: 4px;
}

.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

label {
  font-size: 20px; 
  font-weight: 550; 
  color: #515151
}

.selectbox {
  margin-bottom: 15px;
  color: #515151;
  font-size: 21px;
  outline: none;
  border-bottom: 2px solid #515;
  width: 100%;
}

// Google Identity and Google+ Sign in buttons
// https://developers.google.com/+/branding-guidelines

.google-button {
    height: 40px;
    width: calc(100% - 30px);
    border-width: 0;
    background: #fcfcfc;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 1px 2px rgba(0.1, 0.1, 0.1, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    
    &:focus,
    &:hover {
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    }
    
    &:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
    }
  }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  .google-button__icon--plus {
    width: 27px;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }

  .exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 17px;
    padding-right: 40px;
  }