<div class="wrapper">
  <div class="block">
    <div class="setting">
        <h1 mat-dialog-title  style="font-size: 25px">Setting</h1>

          <mat-icon class="exit-btn" (click)="exit()">exit_to_app</mat-icon>

          <label for="calendar" >Calendar: &nbsp;</label>
          <mat-select [placeholder]="settingIsExist? currentCalendar.summary: 'Select calendar'" 
            [(value)]="currentCalendar" 
            class="selectbox"
            name="calendar"
            *ngIf="calendarList; else loader">
            <mat-option *ngFor="let calendar of calendarList" [value]="calendar">
              {{ calendar.summary }}
            </mat-option>
          </mat-select>

          <label for="room" >Room: &nbsp;</label>     
          <mat-select 
            [placeholder]="settingIsExist? currentRoom.generatedResourceName: 'Select room'" 
            [(value)]="currentRoom"
            class="selectbox"
            name="room"
            *ngIf="roomList; else loader">
            <mat-option *ngFor="let room of roomList" [value]="room">
              {{ room.generatedResourceName }}
            </mat-option>
          </mat-select>

        
        <div mat-dialog-actions class="button">
          <button mat-button (click)="saveRoom()">{{ (settingIsExist)? 'Save' : 'Ready'}}</button>
          <button mat-button (click)="cansel()" *ngIf="settingIsExist" style="background: #ffffff">Cancel</button>
        </div>
    </div>
  </div>
</div>
<ng-template #loader>
  Loading... <br>
</ng-template>