<div class="index-wrapper"
	*ngIf="currentState ; else loader"
	[ngClass]="{
		'wrapper': true, 
		'Avaliable-color': currentState.status == CurrentRoomState.AVAILABLE,
		'Warning-color': currentState.status == CurrentRoomState.MEETING_SOON,
		'Unavailable-color': currentState.status == CurrentRoomState.IN_PROGRESS
	}"
	(swipeleft)="swipe()">	

	<div class="setting" *ngIf="!loadCalendars; else loader">
		<mat-icon class="screen-btn" (click)="fullScreen()">aspect_ratio</mat-icon>

		<mat-menu #appMenu="matMenu">
			<button mat-menu-item class="setting-option" (click)="changeRoom()">Settings</button>
			<button mat-menu-item class="setting-option" (click)="SignedOut()">SinedOut</button>
		</mat-menu>

		<mat-icon class="setting-btn" [matMenuTriggerFor]="appMenu">settings</mat-icon>		
	</div>

	<div class="info">			
		<div>
			<span class="timer">{{ (currentState.time | date: 'HH:mm:ss') || thereNoEvents }}</span>
			<p class="Avaliable">{{ availibleText }}</p>
		</div>
		<div>
			<p class="room-name">{{ room }}</p>
			<a routerLink="/event"><button class="book-now">{{ buttonText }}</button></a>
		</div>
	</div>
</div>

<ng-template #loader>
	<div class="loader">
		<app-loader></app-loader>
	</div>
</ng-template>