@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

$greeny-blue: #3aa388;//#43b799;
$maize: #f3bf49;
$unavailable: #c0392b;

a {
	z-index: 1;
}

p {
	margin: 18px 0;
}

.index-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100vh;
	margin: 0 auto;
	background-color: #43b799;
	background-image: url('../../../assets/img/mesh.png');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
	@media (min-width: 768px) {
		padding-top: 208px;
		padding-bottom: 308px;
	    justify-content: space-around;
	}
	@media (min-width: 1024px) {
		padding-top: 115px;
		padding-bottom: 202px;
		justify-content: space-around;
		background-size: 120%;

	}
}

.Avaliable-color {
    background-color: $greeny-blue;
    .book-now {
        color: $greeny-blue;
    }
}

.Warning-color {
    background-color: $maize;
    .book-now {
        color: $maize;
    }
}

.Unavailable-color {
    background-color: $unavailable;
    .book-now {
        color: $unavailable;
    }
}

.timer {
	height: 64px;
	font-weight: bold;
	font-size: 45px;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.71;
	letter-spacing: normal;
	color: #ffffff !important;
	@media (min-width: 768px) {
	    font-size: 90px;
	}
	@media (min-width: 1024px) {
	    font-size: 120px;
	}
}

.Avaliable {
	height: 49px;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1px;
	color: #ffffff;

	@media (min-width: 1024px) {
	    font-size: 45px;
	}
}

.room-name {
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: normal;
	letter-spacing: -3px;
	color: #ffffff;
	@media (min-width: 768px) {
	    font-size: 80px;
	    margin-top: 55px;
	    margin-bottom: 55px;
	}
	@media (min-width: 1024px) {
	    font-size: 100px;
	}
}

.book-now {
	z-index: 1;
	cursor: pointer;
	width: 210px;
	height: 78px;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1.1px;
	text-align: center;
	color: $greeny-blue;

	@media (min-width: 1024px) {
		width: 260px;
		height: 100px;

		font-size: 32px;
	}
}

.setting {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 25px;
	margin-right: 25px;

	border: 1; 
	outline: none;

	color: #ffffff;
}

.setting-btn {
	font-size: 40px;
	width: 40px;
}

.setting-option {
	font-size: 17px;
	font-weight: 400;
}

.screen-btn {
	font-size: 40px;
	padding-right: 70px;
}